/* fonts */
@font-face {font-family: "popins";font-display: swap;src: url("../fonts/popins/Poppins-Regular.ttf");}
@font-face {font-family: "popins_bold";font-display: swap;src: url("../fonts/popins/Poppins-SemiBold.ttf");}
@font-face {font-family: "NovaSquare";font-display: swap;src: url("../fonts/Nova/NovaSquare-Regular.ttf");}
/* :root{--black:#272727; --white:#fff; --color1:#c08831; --color2:#00625f; --gray:rgb(240 240 240); --transition: all 0.4s ease-in-out; --shadow:0px 4px 63px 0px rgba(15, 28, 51, 0.10); --shadow_1:0 10px 20px rgb(24 19 19 / 19%), 0 6px 6px rgb(0 0 0 / 23%);} */
:root{--black:#000; --white:#fff; --color1:#ff5a5f; --color2:#24324a; --color3:#f1f2fb; --gray:rgb(240 240 240); --gray1:rgb(249 249 249); --transition: all 0.4s ease-in-out; --shadow:0px 0px 26px rgba(0,0,0,0.16); --shadow_1:0 10px 20px rgb(24 19 19 / 19%), 0 6px 6px rgb(0 0 0 / 23%);}
img{max-width: 100%;}
svg{vertical-align: sub;}
body {counter-reset: section;}
* {scrollbar-width: auto;scrollbar-color: var(--color1) #ffffff; margin: 0; padding: 0;}
*::-webkit-scrollbar {width: 10px;}
*::-webkit-scrollbar-track {background: var(--color1);}
*::-webkit-scrollbar-thumb {background-color: var(--color1);border-radius: 2px;border: 5px solid transparent;}
/*default Css Start Here*/
html{scroll-behavior: smooth;}
body, p, h1, h2, h3, h4, h5, h6, ul, li{margin:0px;padding:0; font-size: inherit;}
*{text-decoration: none; outline: none; border: 0;font-family: "popins"; list-style: none; letter-spacing: 0.4px;}
button:focus{outline: 0; box-shadow: none !important;}
a:hover{text-decoration: none; outline: none; color: inherit;}
button{cursor: pointer;}
/*default Css End Here*/
/* common classes */
.NovaSquareFont{font-family: "NovaSquare";}
.popinsBoldFont{font-family: "popins_bold";}
.overlay.active {background: rgba(0, 0, 0, 0.8);position: fixed;display: block;width: 100%;height: 100%;z-index: 10;left: 0;top: 0;opacity: 70%;-webkit-transition: var(--transition);transition: var(--transition);cursor: pointer;}
.custombtn{text-transform: uppercase;font-size: 16px;background: var(--color1);color: var(--white);padding: 10px 20px;border-radius: 8px;border: 1px solid transparent;}
.custombtn:hover{background: var(--color1); color: var(--white);}
.btnoutline{background: transparent; border: 1px solid var(--color1); color: var(--color1); transition: all 0.4s ease-in-out; backdrop-filter: blur(5px);}
.btnanimation{animation: bganimation infinite 2s;}
.f-wrap{flex-wrap: wrap;}
.d-view{display: block;}
.m-view{display: none;}



.wrapper{max-width: 100%; margin: 0 auto;}
.headermain{background: var(--white) url(../images/others/img.webp);padding: 5px 0;position: relative;z-index: 9;}
.headermain.active {position: fixed;top: 0;background: #ffffffd6;left: 0;right: 0; box-shadow: var(--shadow); animation: slide-down 0.9s; padding: 1px 0;}
.headermain .wrapper{background: var(--black); padding: 10px 15px;}
.headermain .logo{display: inline-block;position: relative;padding: 0 15px;}
.headermain .menuIcon{position: relative;display: flex;justify-content: center;align-items: center;}
.headermain .menuIcon img{width: 50px;background: var(--color1);display: flex;align-self: center;margin: 2px 3px 2px 0;}
/* .headermain .menuIcon::after{content: '';position: absolute;height: 48px;width: 51px;right: 4px;background: var(--color1);top: 0;} */
.headermain .ceterdiv .custombtn{min-width: 200px;}
.headermain .ceterdiv .custombtn svg{height: 20px; width: 20px; fill: invert(1);}
.headermain .custombtn img{width: 24px;}

.asidebar{position: fixed;height: 100%;width: 0;background: var(--black);z-index: 99;top: 0;bottom: 0;right: -100%;/* border-radius: 8px; */}
.asidebar.active{right: 0;transition: var(--transition);width: 379px;}
.asidebar .logosdiv{padding: 12px 15px;border-bottom: 1px solid var(--white);}
/*Navbar Codes Start From Here*/
.Navbar{gap: 0 30px;}
.Navbar .nav-item{border-bottom: 1px solid var(--white);}
.Navbar .nav-item a{color: var(--white);font-weight: 600;display: block;padding:18px 18px 18px 25px;font-size: 16px;}
.Navbar .nav-item a:hover, .Navbar .nav-item .active{padding-left: 35px;transition: var(--transition); background: var(--white); color: var(--black);}
/*Navbar Codes End From Here*/

/*Slider And From Codes Start From Here*/
.banner-section{position: relative; background: var(--white) ; color: var(--black);}
.banner-section .wrapper{display: flex; flex-wrap: wrap;}
.banner-section .sliderdiv{width: 70%;}
.banner-section .sliderdiv .carousel-inner{position: relative;}
.banner-section .sliderdiv .img-slider{height: 87vh;}
.bnner-flex-btn{position: absolute;left: 15px;display: flex;width: 5%;justify-content: space-between;opacity: 1;gap: 0 24px;bottom: 27px;}
.banner-section .content-over-banner{position: absolute;bottom: 27px;z-index: 1;left: 27%;gap: 0 25px;}
.content-over-banner .textdiv {backdrop-filter: blur(6px);background: #ffffffba;padding: 10px 15px;min-width: 228px;border-radius: 8px;}
.content-over-banner .smallheading{font-size: 17px;color: var(--color2);}
.content-over-banner .span{font-size: 20px;text-transform: uppercase;font-weight: 600;}
.banner-section .carousel-btn{position: unset;background: var(--color1);height: 40px;border-radius: 8px;min-width: 60px;}
.bannermain-content{width: 30%;color: var(--black);padding:30px 15px 0 35px;position: relative;background: url(../images/others/img3.png);}
.bannermain-content .project-address{font-weight: 600; display: inline-block;text-transform: uppercase;}
.bannermain-content .projectname{font-size: 42px;text-transform: uppercase;font-weight: 600;padding-top: 10px;}
.bannermain-content .projectname .projlogo{width: 40%;}
.bannermain-content .startingprice{font-size: 50px;position: relative;padding: 0 0 10px 0;}
.bannermain-content .startingprice .onwards{font-size: 40px;}
/* .bannermain-content .startingprice.startingprice1{} */
.bannermain-content .inrIcon{animation: animation1 4s .7s ease-in-out infinite;display: inline-block;padding-right: 7px;}
.bannermain-content .startingprice b{font-size: 45px;display: inline-block;padding-left: 5px;}
.bannermain-content .keyhighlights {flex-wrap: wrap; justify-content: space-between;}
.bannermain-content .keyhighlights .textdiv{width: 49%;border-left: 1px solid var(--color1);margin-bottom: 25px;padding: 5px 5px 5px 12px;}
.bannermain-content .keyhighlights .smallheading{font-size: 16px;}
.bannermain-content .keyhighlights .span{font-size: 19px;text-transform: uppercase;font-weight: 600;word-break: break-word;}
.bannermain-content .form-heading{font-size: 32px; text-transform: uppercase; margin-bottom: 15px;}
.bannermain-content .formdiv{width: calc(100% - 45px);margin-top: 97px;}
.bannermain-content .formdiv .inputbox{margin-bottom: 18px;}
.bannermain-content .formdiv input{width: 100%;padding: 10px;background: transparent;border: 1px solid var(--black);color: var(--black);border-radius: 5px;}
.bannermain-content .formdiv input::placeholder{color: var(--black);}
.bannermain-content .formdiv .submitbtn{width: 100%;background: var(--color1);color: var(--white);}
/*Slider And From Codes End From Here*/



/* .all-projects */
.all-projects {padding: 120px 0;}
.all-projects .main-heading{font-size: 32px; text-align: center; color: var(--color1); text-transform: uppercase; margin-bottom: 25px;}
.all-projects .wrapper{max-width: 70%;}
.all-projects .divflex{gap: 51px;}
.all-projects .flexbox{padding: 5px;box-shadow: var(--shadow);width: 30%;border-radius: 5px;position: relative;padding-bottom: 76px;}
.all-projects .imgdiv{height: 397px;background-size: cover;background-repeat: no-repeat;border-radius: 5px;position: relative;}
.all-projects .imgdiv:after {position: absolute;content: '';background-image: linear-gradient(176deg, rgb(0 0 0 / 0%) 25%, rgb(0 0 0) 100%);height: 100%;width: 100%;}
.all-projects .content-div{padding: 12px;text-align: center;position: absolute;background: #ffffffbd;width: 95%;margin: 0 auto;border-radius: 5px 5px 0 0;bottom: 0;left: 0;right: 0;}
.all-projects .p-address{background: var(--color1);padding: 1px 6px;color: var(--white); font-size: 14px; text-transform: capitalize;}
.all-projects .proj-name{text-transform: uppercase;font-size: 24px;font-weight: 600;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: var(--white);width: 100%;text-align: center;}
.all-projects .p-price{font-size: 24px; padding: 8px 0;}
.all-projects .p-typology{text-transform: uppercase;font-size: 16px;font-weight: 600;padding: 5px 0;background: var(--color1);margin-bottom: 13px;color: var(--white);}
.all-projects .custombtn{padding: 6px 16px;border-radius: 4px;}

/* end .all-projects */


/* contact - Form section */
.contact-section{padding: 70px 0;background: var(--gray1);}
.contact-wrapper{max-width: 1150px; margin: 0 auto;}
.contact-section .head-div{margin-bottom: 12px;}
.contact-section .head-div .title {font-size: 16px;font-weight: 600;border-bottom: 2px solid var(--color2);width: fit-content;}
.contact-section .head-div .pera {font-size: 40px;color: var(--color1);}
.contact-wrapper .heading{font-size: 40px;color: var(--color1);margin-bottom: 18px;padding-bottom: 15px;border-bottom: 4px double rgb(255 90 95 / 19%);}
.contact-wrapper .about-text{text-align: justify; line-height: 27px;}
.contact-section .Callus{width: fit-content; margin-top: 25px;}
.contact-section .from-col{background-color: var(--white);padding: 39px;border-radius: 5px;}
.contact-section .inputbox{margin-bottom: 26px;display: flex;gap: 0 10px;justify-content: space-between;align-items: center;}
.contact-section .inputbox input{border-bottom: 2px solid var(--gray);width: 100%;padding: 0;}
.contact-section .sbmitbtndiv{position: relative; width: 100%;}
.contact-section .sbmitbtndiv .custombtn{position: relative;z-index: 1;padding: 12px 50px;}
.contact-section .sbmitbtndiv::after{content: '';position: absolute;left: 0;right: 0;bottom: 45%;width: 100%;border-bottom: 4px double rgb(255 90 95 / 9%);z-index: 0;}
.contact-section .right-col{padding-right: 40px;}

/*End contact - Form section */


/* Start .sitefooter */
.sitefooter{padding: 0; position: relative; color: var(--white);}
.sitefooter::after{position: absolute; content: ''; left: 0; right: 0; top: 0; bottom: 0; height: 100%; width: 100%; background: url(../images/bg.webp); filter: brightness(0.2);}
.footerinner{position: relative; z-index: 1;}
.bottomfooter{padding: 31px 0;text-align: center;font-size: 13px;background: #ff5a5fc7;}
.sitefooter .rera-div{padding-top: 15px; font-size: 14px;}
.bottomfooter .wrapper{max-width: 1150px; margin: 0 auto;}
.btn-readmore{color: var(--color1); cursor: pointer;}
/* End .sitefooter */


/* mobile-section-footer */
.mobile-section-footer{display: none;position: fixed;left: 0;right: 0;bottom: -100%;width: 100%;transition: var(--transition);background: var(--gray1);padding: 5px 0;z-index: 3;}
.mobile-section-footer a{ display: block; font-size: 14px; padding: 6px 8px; border-radius: 3px;}
/* .mobile-section-footer a:last-child{ border-right: 0;} */




/* #customModal */
.theModal .modal-content{padding: 0;}
.theModal .modal-dialog{max-width: 441px;}
.theModal .col-left{background: var(--gray1); text-align: center;}
.theModal .from-col{padding: 40px 30px; background: var(--white);}
.theModal .modal-head{font-size: 35px;}
.theModal .m-typology{font-size: 16px; background: var(--color1); color: var(--white); padding: 2px 8px; margin: 15px 0; text-align: center;}
.theModal .m-price{font-size: 22px; font-weight: 600;}
.theModal .coldiv{margin-bottom: 15px;}
.theModal .form-control{padding: 22px 15px;}
.theModal .form-control:focus{box-shadow: unset; border-color: var(--color1); color: var(--color1);}
.theModal .form-control:focus::placeholder{color: var(--color1);}
.theModal .m-msg{text-align: center;margin-bottom: 20px;font-size: 26px;text-transform: uppercase;}
.theModal .close{position: absolute;top: -56px;right: -59px;opacity: 1;}
.theModal .close svg{width: 39px;height: 39px;}

@media(max-width: 1550px){
  .banner-section .content-over-banner {bottom: 22px;left: 24%;}
  .banner-section .sliderdiv .img-slider{height: 88vh;}
  .bnner-flex-btn  {bottom: 37px;}
  .bannermain-content .formdiv{margin-top: 49px;width: 100%;}
  .bannermain-content .form-heading {font-size: 22px;margin-bottom: 10px;}
  .bannermain-content .projectname {font-size: 27px;}
  .bannermain-content {padding: 24px 34px 0 36px;}
  .bannermain-content .keyhighlights .textdiv {margin-bottom: 13px;}
  .bannermain-content .keyhighlights .span {font-size: 17px;word-break: auto-phrase;}
  .bannermain-content .formdiv input {padding: 7px 10px;font-size: 15px;}
  .bannermain-content .startingprice b {font-size: 30px;}
  .bannermain-content .startingprice {font-size: 35px;}
  .bannermain-content .startingprice .onwards {font-size: 27px;}
  .bannermain-content .formdiv .inputbox{margin-bottom: 13px;}

  .all-projects{padding: 70px 0;}
  .all-projects .wrapper{max-width: 95%;padding: 0 15px;}
}

@media(max-width: 1480px){}
@media(max-width: 1366px){
  .bannermain-content .formdiv{margin-top: 11px;}
}
@media(max-width: 1280px){}

@media(max-width: 991px){}

/* if need chnage 768 to 767 */
@media(max-width: 767px){
    .d-view{display: none;}
    .m-view{display: block;}
    .asidebar{width: 100%;}
    .headermain .ceterdiv{display: none !important;}
    .headermain .menuIcon img{width: 44px;}
    /* .headermain .menuIcon::after{top: -5px;height: 52px;width: 52px;right: 5px;} */
    .banner-section .sliderdiv .carousel-inner.m-view{min-height: 266px;}
    .banner-section .wrapper{flex-wrap: wrap;}
    .banner-section .content-head{text-align: center;border-bottom: 1px solid #00000012;margin-bottom: 15px;}
    .bannermain-content .project-address{font-size: 13px; background: var(--color1); color: var(--white); padding: 4px 8px; border-radius: 2px;}
    .banner-section .sliderdiv, .bannermain-content{width: 100%;}     
    .bannermain-content .startingprice, .bannermain-content .startingprice .onwards{font-size: 27px;}
    .bannermain-content .startingprice{padding-bottom: 12px;}
    .bannermain-content .startingprice b{font-size: 27px;}
    .bannermain-content .keyhighlights .textdiv{border: 0;border-bottom: 1px solid #00000012;}
    .bannermain-content{padding: 20px 20px 40px 20px;min-height: 668px;} 
    .bannermain-content .form-heading, .bannermain-content .formdiv .inputbox{margin-bottom: 15px;}
    .bnner-flex-btn{bottom: 15px;left: 59%;}

    .all-projects .flexbox{width: 100%;}
    .all-projects .imgdiv{height: 324px;}

    /* .contact-section  */
    .contact-section .head-div .pera{font-size: 24px;}
    .contact-wrapper{padding: 0 15px;}
    .contact-section .from-col{padding: 20px;}
    .contact-wrapper .heading{font-size: 26px;}
    .contact-section .inputbox{gap: 0 4px;}
    .contact-section .inputbox span{font-size: 14px;}
    .contact-section .right-col{padding: 0; margin-bottom: 15px;}
    .contact-section .location-advantage .title{font-size: 20px;}
    .contact-section .location-advantage p{font-size: 14px;}
    .contact-section .location-advantage .box{width: 100%;}
    .contact-section .inputbox input{width: 100%;}
    /* end .contact-section  */

    /* .sitefooter */
    .sitefooter{padding-bottom: 42px;}
    .bottomfooter{padding: 25px 15px;}
    .bottomfooter .text-disclaimer{font-size: 13px;}
    /*  end .sitefooter  */

    /* .mobile-section-footer */
    .mobile-section-footer.active{display: flex; bottom: 0; gap: 0 5px; justify-content: space-around;}
  
    .theModal .from-col{padding: 10px;}
    .theModal .col-left{padding: 10px!important;}
    .theModal .close {top: 0;right: -10px;background: var(--color1); z-index: 1;}
    .theModal .modal-head{font-size: 25px;}
    .theModal .m-typology{margin: 5px 0; font-size: 13px;}
    .theModal .m-price{font-size: 18px;}
    .theModal .m-msg {margin-bottom: 7px;font-size: 22px;}
    .theModal .form-control {padding: 10px 15px;}
    .theModal .coldiv{margin-bottom: 10px;}
    .theModal .custombtn{padding: 5px; border-radius: 4px;}    
}

/* All Keyframes */
  
  @keyframes animation1 {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); color: var(--color1);}
    21% { transform: rotate(18deg); color: var(--color1);}
    23% { transform: rotate(-16deg); color: var(--black);}
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }  
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }

  @keyframes animation2 {
    50%{color: var(--color1);}
  }
  @keyframes bganimation {
    50%{background: transparent; border:1px solid var(--color1); color: var(--color1); transition: all 0.4s ease-in-out; backdrop-filter: blur(5px);}
  }
  @keyframes textchnage {
    50%{color: var(--color1);}
  }
  @keyframes animimg {
    50%{opacity: 0;}
  }
  @keyframes ani {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  @keyframes anim {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
  }
  @keyframes slide-down {
    from {opacity: 1;-webkit-transform: translateY(-100%);transform: translateY(-100%);}
    to {opacity: 1;-webkit-transform: translateY(0);transform: translateY(0);}
}